<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoumh.core.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.shoumh.core.pojo.Teacher">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        major
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from teacher
        where  id = #{id,jdbcType=VARCHAR} 
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from teacher
        where  id = #{id}
    </delete>

    <insert id="insert">
        insert into teacher
        ( id,name,gender
        ,major)
        values (#{id},#{name},#{gender},#{major})
    </insert>

    <insert id="insertSelective">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="gender != null">gender,</if>
                <if test="major != null">major,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="gender != null">#{gender},</if>
                <if test="major != null">#{major},</if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.shoumh.core.pojo.Teacher">
        update teacher
        <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="gender != null">
                    gender = #{gender},
                </if>
                <if test="major != null">
                    major = #{major},
                </if>
        </set>
        where   id = #{id}
    </update>

    <update id="updateById" parameterType="com.shoumh.core.pojo.Teacher">
        update teacher
        set 
            name =  #{name},
            gender =  #{gender},
            major =  #{major}
        where   id = #{id}
    </update>
</mapper>
